@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* For information on how to create your own theme, please see:
http://ionicframework.com/docs/theming/ */

:root {
  --ion-dynamic-font: --ion-default-dynamic-font;
  --ion-font-family: "Nunito", -apple-system, BlinkMacSystemFont,
    "Helvetica Neue", "Roboto", sans-serif;

  --ion-background-color: #ffffff;
  --ion-background-color-rgb: 255, 255, 255;

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0, 0, 0;

  --ion-color-primary: #d71921;
  --ion-color-primary-rgb: 215, 25, 33;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;

  --ion-color-tertiary: #edbe4c;
  --ion-color-tertiary-rgb: 237, 190, 76;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
}

ion-button {
  --border-radius: 16px;
  height: 3.75rem;
  width: 91.5%;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.313rem;
  text-transform: capitalize;
}

ion-button.operator {
  --border-radius: 12px;
  --background: #0000001a;
  --box-shadow: none;
  height: 2rem;
  width: 2rem;
  color: var(--ion-color-primary);
  font-size: 1.125rem;
  font-weight: 700;
  pointer-events: none;
}

ion-fab-button {
  --border-radius: 16px;
  height: 3.75rem;
  width: 10rem;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.313rem;
}

ion-card-title {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.313rem;
  color: black;
}

ion-card-subtitle {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.125rem;
  color: black;
  text-transform: none;
}

h1 {
  font-size: 1.563rem;
  font-weight: 700;
  line-height: 1.875rem;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1.875rem;
}

h3 {
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.5rem;
}

p {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.313rem;
  color: #6C757D;
}

span {
  color: var(--ion-color-primary);
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 21px;
}
